<IfModule mod_rewrite.c>
    RewriteEngine On

    # Direct rewrite to public folder preserving Query Strings
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
